
.logo {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin: 0 15px;
}

.bold {
  font-weight: bold !important;
}

.custom-segmented-control {
  > :not([disabled="true"]):not([data-disabled="true"])[data-active="true"] {
    background-color: #3d8bd4 !important;
    box-shadow: none !important;
    > label {
      color: #fff;
    }
  }
}

.custom-icon-button {
  box-shadow: none !important;
  &.fill-grey {
    svg {
      fill: #4E4E50 !important;
    }
  }
  &.fill-green {
    svg {
      fill: #47b881 !important;
    }
  }
}

// .grow {
//   transition: all .2s ease-in-out;
//   &:hover {
//     transform: scale(1.1);
//   }
// }
