
.logo {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin: 0 15px;
}

.bold {
  font-weight: bold;
}

.custom-segmented-control {
  > :not([disabled="true"]):not([data-disabled="true"])[data-active="true"] {
    background-color: #3d8bd4 !important;
    box-shadow: none !important;
    > label {
      color: #fff;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.grow {
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
