
.logo {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin: 0 10px;
}

.custom-icon-button {
  box-shadow: none !important;
  transition: transform 0.2s;
  &.scale-0 {
    transform: scale(0);
  }
  &.fill-grey {
    svg {
      fill: #4E4E50 !important;
    }
  }
  &.fill-green {
    svg {
      fill: #47b881 !important;
    }
  }
}

// .grow {
//   transition: all .2s ease-in-out;
//   &:hover {
//     transform: scale(1.1);
//   }
// }
