.password-toggle {
  position: absolute !important;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: transparent !important;
  &:hover,
  &:focus,
  &:active {
    box-shadow: none !important;
  }
}

.random-button {
  z-index: 1;
  border-color: #d8dae5;
  &[disabled] {
    border-color: #d8dae5 !important;
  }
}
