$backgroundColor: rgba(0, 0, 0, 0.9);
$textColor: white;

@font-face {
  font-family: OpenSansFont;
  src: url(../../../public/fonts/OpenSans-Light.ttf);
}
// @font-face {
//   font-family: LatoFont;
//   src: url(../../../public/fonts/Lato-Light.ttf);
// }
.distract-cursor {
  cursor: default;
}
.distract-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.distract-disappear {
  display: none;
}
.distract-body {
  overflow: hidden !important;
  height: 100%;
}
.distract-overlay-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.distract-overlay {
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: $backgroundColor;
  text-align: center !important;
  display: inline-block;
  margin: 0;
}
.distract-overlay-fadeout {
  opacity: 0;
  transition: opacity 0.3s;
}
.distract-info-container {
  text-align: center !important;
  position: absolute;
  top: calc(50% - 200px);
  height: 400px;
  width: 100%;
}
.distract-overlay-top-text {
  display: block;
  margin: 0 auto;
  font-family: OpenSansFont !important;
  color: $textColor;
  font-size: 32px;
  line-height: 32px;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}
.distract-blocked-link {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 40%;
  margin-top: 50px;
  > input {
    font-family: OpenSansFont !important;
    font-size: 14px;
    color: white;
    background-color: transparent;
    border: 2px solid #db9d61;
    border-radius: 4px;
    padding: 10px 48px 10px 16px;
    width: 100%;
    &:hover,
    &:active,
    &:focus {
      outline: none;
    }
  }
  > button.copy {
    position: absolute;
    // top: 10px;
    right: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    cursor: pointer;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    svg {
      path {
        fill: #d0d0d0;
      }
      width: 16px;
      height: 16px;
    }
  }
}
.distract-overlay-img {
  margin: 0 auto;
  margin-top: 50px;
  width: 128px;
  height: 128px;
  background-image: url(../../../public/icons/magnet-256.png);
  background-size: contain;
}
button.unblock {
  margin-top: 50px;
  background-color: transparent;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  color: #ddd;
  cursor: pointer;
  display: inline-block;
  font-family: OpenSansFont;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  padding: 10px 50px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: middle;
  text-transform: uppercase;
  &:hover {
    background-color: #ddd;
    color: $backgroundColor;
    border-color: transparent;
  }
}
.unblock-dialog {
  > div:first-child {
    // dialog title
    border: 0 !important;
    position: absolute !important;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 12px;
    button {
      &:hover,
      &:active,
      &:focus {
        box-shadow: none !important;
      }
    }
  }
  > div:last-child {
    padding: 16px;
  }
}

@media screen and (max-width: 600px) {
  .distract-overlay-top-text {
    font-size: 24px;
  }
  .distract-blocked-link {
    width: 80%;
  }
  .distract-overlay-img {
    width: 100px;
    height: 100px;
  }
  button.unblock {
    font-size: 12px;
  }
}
