body {
    background-color: rgba(255, 255, 255, 0);
    font-size: 14px;
    font-weight: bold;
    margin: 0 0;
    padding: 0;
    color: #999999;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 15px 12px;
}

h1 {
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-bottom: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.section {
    margin: 0 60px 12px;
    transition: 2s;
}

#main-view {
    padding: 15px 0 15px 0;
}

.choose-mode {
    /*
    position: relative;
    margin: 4px auto;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    text-align: center;
    padding: 10px 15px !important;
    height: 26px;
    width: 200px;
    font-weight: 400;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    */
}

.choose-container {
    margin-left: 20px;
}

.choose-background {
    position: relative;
    top: 5px;
    /*background: rgba(255,255,255,.1);*/
    margin: 15px 10px;
    overflow: hidden;
    padding: 10px !important;
    -webkit-border-radius: 100px / 100px;
    -moz-border-radius: 100px / 100px;
    border-radius: 100px / 100px;
    height: auto;
    min-width: 280px;
    float: left;
}

.choose-background > * {
    float: left;
}

.choose-background input[type=radio] {
    display: none;
    width: 50%;
    height: 100%;
}

.choose-background label {
    vertical-align: text-top;
    color: black;
    /*z-index: 0;*/
    display: inline-block;
    width: 48%;
    height: 100%;
    -webkit-border-radius: 100px/100px;
    text-decoration: none;
    -moz-border-radius: 100px/100px;
    border-radius: 100px/100px;
    cursor: pointer;
    z-index: 0;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.choose-slider {
    background-color: rgba(33, 150, 243, 1);
    z-index: -1;
    left: 2%;
    width: 48%;
    height: 100%;
    position: absolute;
    top: 0px;
    vertical-align: middle;
    -webkit-border-radius: 100px/100px;
    -moz-border-radius: 100px/100px;
    border-radius: 100px/100px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}

#blacklist-toggle:checked ~ .choose-slider {
    background: rgba(33, 150, 243, 1);
    left: 3%;
}

#blacklist-toggle:checked ~ #settings_blacklist_title {
    color: rgba(255, 255, 255, 1);
}

#whitelist-toggle:checked ~ #settings_whitelist_title {
    color: rgba(255, 255, 255, 1);
}

#whitelist-toggle:checked ~ .choose-slider {
    background: rgba(33, 150, 243, 1);
    left: 46%;
}

.section {
    transition: max-height 0.5s;
}

#add-to-list {
    height: 14px;
    width: 14px;
}

.new-list-box {
    position: relative;
    left: 28px;
    width: 400px;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
    outline: 0;
    color: #AAAAAA;
    background: transparent;
    border-bottom: 1px solid #AAAAAA;
}

.new-list-box:focus {
    outline: 0;
}

.favicon {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

#whitelist li {
    margin-bottom: 10px;
    font-size: 12px;
}

#blacklist li {
    margin-bottom: 10px;
    font-size: 12px;
}

#settings-whitelist-description,
#settings-blacklist-description {
    padding-top: 85px;
    text-align: left;
    padding-bottom: 10px;
}

li:hover .x {
    visibility: visible;
}

.x {
    visibility: hidden;
    height: 12px;
    width: 12px;
    vertical-align: middle;
}

.tabcontent {
    /*border: 1px solid #ccc;*/
    border-top: none;
}

.list-box li {
    margin: 5px;
    font-size: 20px;
}

.list-box li > img {
    width: 20px;
    height: 20px;
}

.list-box li > span {
    vertical-align: middle;
    font-size: 15px;
}
