
.custom-segmented-control {
  &:not([data-disabled="true"]) {
    > :not([disabled="true"]):not([data-disabled="true"])[data-active="true"] {
      background-color: #3d8bd4 !important;
      box-shadow: none !important;
      > label {
        color: #fff;
      }
    }
  }
  &[data-disabled="true"] {
    > :not([disabled="true"]):not([data-disabled="true"]) {
      cursor: not-allowed;
      opacity: 0.8;
      background-image: none;
      background-color: rgba(67, 90, 111, 0.06);
      box-shadow: none;
      color: rgba(67, 90, 111, 0.7);
      pointer-events: none;
      > label {
        color: inherit;
      }
    }
  }
}
