// div > label + p {
//   font-size: 12px !important;
// }

// textarea {
//   resize: none;
// }

.about {
  font-family: Roboto, arial, sans-serif;
  .title {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin: 0;
    border-bottom: 1px solid #edf0f2;
    padding-bottom: 8px;
    padding-left: 5px;
  }
  .block {
    display: block;
    margin-bottom: 20px;
    margin-left: 5px;
  }
  .text {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    padding: 15px 0;
  }
  .link {
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    color: #3366ff;
    margin-right: 10px;
    &:hover {
      text-decoration: underline;
    }
  }
  .small-text {
    font-size: 13px;
    font-weight: 400;
    color: #333;
  }
}

.schedule-dialog {
  > div:last-child {
    border-top: 1px solid rgb(237, 240, 242);
    padding: 16px;
  }
}

.hidden {
  display: none;
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
}
